.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  
  .buscar-usuarios {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
  
  
    .input-busca {
      flex: 1;
    }
    
    button {
      height: 56px;
      padding-left: 50px;
      padding-right: 50px;
      margin-left: 12px;
    }
  }
  
}
.coluna-acao{
  width: 64px;
  padding: 0 8px;
}