<div class="container">
<h1>Prontuário de {{ paciente?.nome }}</h1>  <div class="container">
    <!-- Informações do Paciente -->
    <div *ngIf="paciente">
      <section class="info-paciente-container" class="mat-elevation-z2">
      <div class="info-paciente">
        <h2>Informações de Paciente</h2>
        <div class="item-info">
          <p><strong>Nome do Paciente: </strong> {{ paciente.nome }}</p>
        </div>
        <div class="item-info">
          <p><strong>Convênio: </strong> {{ paciente.convenio }}</p>
        </div>
        <div class="item-info">
          <p><strong>Telefone: </strong> {{ paciente.telefone | formatarTelefone }}</p>
        </div>
        <div class="item-info">
          <p><strong>CPF: </strong> {{ paciente.cpf }}</p>
        </div>
        <div class="item-info">
          <p><strong>Data de nascimento: </strong> {{ paciente.dataNascimento | date:'dd/MM/yyyy' }}</p>        </div>
        <div class="item-info">
          <p><strong>Contato de emergência: </strong> {{ paciente.contatoEmergencia | formatarTelefone }}</p>
        </div>
        <div class="item-info">
          <p><strong>Alergias: </strong> {{ paciente.listaAlergias }}</p>
        </div>
        <div class="item-info">
          <p><strong>Cuidados específicos: </strong> {{ paciente.listaCuidados }}</p>
        </div>
      </div>
    </section>
  </div>
  
  <!-- Histórico de Consultas -->
  <section class="historico-consultas" class="mat-elevation-z2">
    <h2>Histórico de Consultas</h2>
    <table mat-table [dataSource]="consultas">
      <!-- Colunas da Tabela -->
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let consulta">
          {{ consulta.dataConsulta | date: 'dd/MM/yyyy' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef>Hora</th>
        <td mat-cell *matCellDef="let consulta">
          {{ consulta.horarioConsulta | horario }}
        </td>
      </ng-container>
      <ng-container matColumnDef="motivo">
        <th mat-header-cell *matHeaderCellDef>Motivo</th>
        <td mat-cell *matCellDef="let consulta">
          {{ consulta.motivo }}
        </td>
      </ng-container>
      <!-- Botão de Edição -->
      <ng-container matColumnDef="editar" >
        <th mat-header-cell *matHeaderCellDef class="coluna-editar"></th>
        <td mat-cell *matCellDef="let consulta">
          <button
          mat-icon-button
          color="primary"
          aria-label="Editar consulta"
          matTooltip="Editar consulta"
          matTooltipPosition="above"
          matTooltipShowDelay="500"
          matTooltipHideDelay="100"
          (click)="editarConsulta(consulta)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <!-- Linhas da Tabela -->
      <tr mat-header-row *matHeaderRowDef="colunasConsultas"></tr>
      <tr mat-row *matRowDef="let consulta; columns: colunasConsultas;"></tr>
    </table>
  </section>

<section class="historico-exames" class="mat-elevation-z2">
  <h2>Histórico de Exames</h2>
  <table mat-table [dataSource]="exames">
    <!-- Colunas da Tabela -->
<ng-container matColumnDef="data">
  <th mat-header-cell *matHeaderCellDef>Data</th>
  <td mat-cell *matCellDef="let exame">
    {{ exame.dataExame | date: 'dd/MM/yyyy' }}
  </td>
</ng-container>
<ng-container matColumnDef="hora">
  <th mat-header-cell *matHeaderCellDef>Hora</th>
  <td mat-cell *matCellDef="let exame">
    {{ exame.horarioExame | horario }}
  </td>
</ng-container>
<ng-container matColumnDef="nome">
  <th mat-header-cell *matHeaderCellDef>Nome</th>
  <td mat-cell *matCellDef="let exame">{{ exame.nomeExame }}</td>
</ng-container>
<ng-container matColumnDef="laboratorio">
  <th mat-header-cell *matHeaderCellDef>Laboratório</th>
  <td mat-cell *matCellDef="let exame">{{ exame.laboratorio }}</td>
</ng-container>
<!-- Botão de Edição -->
<ng-container matColumnDef="editar">
  <th mat-header-cell *matHeaderCellDef class="coluna-editar"></th>
  <td mat-cell *matCellDef="let exame">
    <button
    mat-icon-button
    color="primary"
    aria-label="Editar exame"
    matTooltip="Editar exame"
    matTooltipPosition="above"
    matTooltipShowDelay="500"
    matTooltipHideDelay="100"
    (click)="editarExame(exame)"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </td>
</ng-container>
<!-- Linhas da Tabela -->
<tr mat-header-row *matHeaderRowDef="colunasExames"></tr>
<tr mat-row *matRowDef="let exame; columns: colunasExames;"></tr>
    </table>
  </section>
</div>
