.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

::ng-deep .mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

::ng-deep .mat-error {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  color: red;
}

.mat-dialog-content {
  width: 100%;
}

.mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  width: calc(100% - 10%);
  display: block;
  margin: auto;
  margin-bottom: 10px;
}